<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hapangama.carshop.repository.UserMapper">

    <resultMap id="UserResultMap" type="com.hapangama.carshop.domian.User">
        <id property="username" column="username" />
        <result property="password" column="password" />
        <result property="role" column="role" javaType="com.hapangama.carshop.domian.Role" />
    </resultMap>

    <select id="find" resultMap="UserResultMap">
        SELECT * FROM User WHERE username = #{username}
    </select>

    <insert id="add" parameterType="com.hapangama.carshop.domian.User">
        INSERT INTO User (username, password, role)
        VALUES (#{username}, #{password}, #{role})
    </insert>

    <update id="update" parameterType="com.hapangama.carshop.domian.User">
        UPDATE User
        SET password = #{password}, role = #{role}
        WHERE username = #{username}
    </update>

</mapper>