<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hapangama.carshop.vehicle.infrastructure.repository.VehicleMapper"> <!--@Mapper Interface-->

    <resultMap id="VehicleResult" type="com.hapangama.carshop.vehicle.model.Vehicle">
        <id column="id"/>
        <result property="name" column="name"/>
        <result property="vehicleBrand" column="vehicle_brand"/>
        <result property="vehicleType" column="vehicle_type"/>
        <result property="year" column="year"/>
    </resultMap>

    <select id="findById" resultMap="VehicleResult">
        SELECT * FROM Vehicle WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.hapangama.carshop.vehicle.model.Vehicle">
        INSERT INTO Vehicle (name, vehicle_brand, vehicle_type, year)
        VALUES (#{name}, #{vehicleBrand}, #{vehicleType}, #{year})
    </insert>

    <update id="update" parameterType="com.hapangama.carshop.vehicle.model.Vehicle">
        UPDATE Vehicle SET name = #{name}, vehicle_brand = #{vehicleBrand}, vehicle_type = #{vehicleType}, year = #{year} WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM Vehicle WHERE id = #{id}
    </delete>

    <select id="findAll" resultMap="VehicleResult">
        SELECT * FROM Vehicle
    </select>

</mapper>